:root {
    --bg-color: rgb(24, 21, 21);
    --text-color:rgb(141, 144, 226);
  }
  

html, body {
    color: var(--text-color);
    background: var(--bg-color);
    height:100%;


    font-family: 'Share Tech Mono', monospace;
    font-size: 28px;

}

::selection {
    background: var(--text-color);
    color: var(--bg-color);
}

.text-link {
    color: var(--text-color);
    text-decoration: underline;

}

a, a:visited, a:active {
    color: var(--text-color);
    transition: 0.1s;
}

a:hover {
    color: var(--bg-color);
    background: var(--text-color);
}


#site-body {
    padding-top:100px;
    padding-bottom:100px;
    padding-left:25%;
    padding-right:18%;
    background-color: var(--bg-color);
    position: relative;
}

.navbar {
    background-color: var(--bg-color);
    border:none;
    border:solid black 2px;
}

h1 {
    font-size:64px;
    margin-bottom: 30px;
}
h2 {
    font-size:38px;
    margin-bottom: 30px;
}

p {
    padding-left: 50px;
    margin-top:20px;
}
